@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body #fonts {
  font-family: "Poppins", sans-serif;
  font-size: 1.2 rem;
  color: antiquewhite;
}

/* .homepage{
    font-family: 'Poppins';
    font-size: 1.2 rem;
  }
     */

.navigator {
  background-color: aqua;
}

code {
  font-family: "Poppins", sans-serif;
}

form {
  width: 50%;
  min-width: fit-content;
  padding: 40px;
  border-radius: 10px;
}
.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
}

.elfooter{
  position: relative;
  min-height: 100vh;
}

.discover {
  background-color: rgba(229, 255, 0, 0.404);
  padding: 1.5rem 2rem 35px 2rem;
  min-height: 100%;
}