@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body #fonts {
  font-family: "Poppins", sans-serif;
  font-size: 1.2 rem;
  color:azure;
}

.navigator {
  background-color: aqua;
}

code {
  font-family: "Poppins", sans-serif;
}

form {
  align-self: center;
  width: 50%;
  min-width: fit-content;
  padding: 40px;
  border-radius: 10px;
}

.joinbutton{
  font-family: 'Poppins';
  font-size: 1.2 rem;
  color: antiquewhite;
}

.forminput{
  background-color: "#202027";
  border-color: '#2E3852';
}


.discover {
    min-height: 100%;
}